<%-include("./partials/header2.ejs")  %>
   <%-include("./partials/nav.ejs")  %>
 <div class="about content"">
        <h1>    <p>This is about page </p></h1>
        <div id="body">
          <br>
          <br>
<div class="tag">
          <h4>ABOUT THIS SITE  :</h4>
          <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Consectetur ipsa tempore velit debitis id at 
            optio harum temporibus
             nostrum? Similique voluptatem quod ad nemo 
             quibusdam dicta quia eos fuga obcaecati consequuntur, 
            sit soluta blanditiis exercitationem, natu
            
            s ducimus vero rem velit, molestias repellat harum dignissimos a.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam tenetur laudantium vero earum tempore voluptatum dolorem enim aspernatur
         nesciunt ratione deserunt atque hic soluta officia, laborum reiciendis a, blanditiis error id provident. Consequatur fugit nemo culpa
          quidem itaque natus voluptatem praesentium nostr
          
          um minima consequuntur voluptatum delectus nisi incidunt similique accusantium soluta
           veniam totam, a reprehenderit consectetur quis tenetur id atque. Magnam mollitia ab eius, in vero rerum aspernatur minus! Ipsam corporis
            ab quaerat iure et amet, assumenda illo sed? 
            <p>

            </p>
            Tempora labore deleniti ut dolores, sint cum facere omnis voluptatum quis totam, blanditiis
             natus possimus eum ex impedit aliquid deserunt placeat aperiam quos quae ullam, repellendus corrupti saepe! Laboriosam fugiat earum quia
              aperiam saepe unde obcaecati amet nemo, vero fugit
              <p>

              </p>
         atque minima libero odio veniam quas. Voluptates eos libero, eveniet dignissimos
               sint natus molestias est distinctio dolorum saepe inventore voluptate molestiae laudantium possimus voluptas ea nam ducimus error 
               suscipit id? Provident sapiente, omnis dolore repellat aliquid sunt molestiae, natus debitis quis quae molestias et amet delectus
               <p>

               </p>

               corporis. Placeat voluptate a deleniti 
        reiciendis asperiores optio maxime ex, nam autem, laudantium amet, odio delectus ducimus fugiat animi. Sit temporibus iste ipsam nemo a.</p>
      </div>
     </div>
    </div>
    <%-include("./partials/footer.ejs") %>
</body>
</html>
