<nav>
    <div class="site-title">
        <a href="/"><h1> BLOG WEBSITE</h1></a>
        <p>A site where you can post your Blogs</p>

    </div>
    <ul>
        <li class="home"  id="home"><a  href="/"><h2>HOME</h2></a></li>
        <li class="about" ><a href="/about"><h2>ABOUT</h2></a></li>
        <li class="create" ><a   href="/createblog"><h2>NEW BLOG</h2></a></li>
    </ul>
</nav>

